* {
  font-family: 'Monoton', cursive;
  font-family: 'Montserrat', sans-serif;
}

.header {
  color: "green";
  background-color: yellow;
  font-Size: 3.9rem;
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-family: 'Monoton', cursive;
  font-weight: 300;
}